/* Home pg */
.header{
 background-color:rgb(242, 124, 124);
    display:flex;
    justify-content: space-between;
    height:85px;
}
.ul{
  text-align: right;
  padding: 20px
}
.h1{
  text-align: left;
  padding:15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color:rgb(55, 1, 1);
  font-weight: bold;
 
}
.login{
border: 1px solid black;
padding: 10px;
background-color: rgb(247, 227, 239);
border-radius:16px;
}
.login li{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(55, 1, 1);
}
.signup{
border: 1px solid black;
padding: 10px;
background-color: rgb(97, 28, 14);
margin-left:20px;
border-radius:16px;
}
.signup li{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(235, 221, 221);
  }
.login:hover{
background-color:rgb(124, 63, 63);
}
.signup:hover{
  background-color: rgb(124, 63, 63);
  }
  .coverimg{
    height:60vh;
    width: 99vw;
    background-image: url("../public/coverimg.jpg");
    background-size: cover;
  }
  .searchbutton{
   border: 1px solid black;
   padding: 16px;
   background-color: rgb(226, 102, 77);
   margin-left:5px;
   border-radius:10px;   
   }
   .inputbox{
   border: 1px solid black;
   background-color: rgb(241, 193, 183);
   margin-left:670px;
   margin-top: 40px;
   border-radius:10px;
   height: 5vh;
   width: 20vw;
   }
   .search input{
    padding-left: 20px;
   
}
.search input::placeholder{
  color:brown;
}
  .h1tag{
    font-family:Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 35px;
   color: rgb(255, 255, 255);
   padding-top: 240px; 
   padding-left: 680px;
  }
  .coverimg p{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    padding-top: 8px; 
   padding-left: 726px;
   color:white;
  }
  .cover{
    display: flex;
  }
  .anothercover{
    height:60vh;
    width: 50vw;
    background-image: url("../public/anothercover.jpg");
    background-size: cover;
    flex-direction: column;
    
  }
  .covertext h1{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 35px;
    color: rgb(51, 28, 28);
    padding-top: 200px; 
    padding-left: 200px;
  }
  
  .cover2{
    height:60vh;
    width: 99vw;
    background-image: url("../public/cover2.jpg");
    background-size: cover; 
  }
  .cover2 h1{
    font-family:Arial, Helvetica, sans-serif;
   font-weight: bolder;
   font-size: 35px;
   color: rgb(255, 255, 255);
   padding-top: 50px; 
   padding-left: 680px;
  }
  .footer{
    background-color: rgb(242, 124, 124);
  }
.footer ul{
  display: flex;
}
.footer ul li{
  padding-left: 15px;
  color:rgb(55, 1, 1);
}
.footerh1{
  text-align: left;
  padding:15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 30px;
  color:rgb(55, 1, 1);
  font-weight: bold;
}
.footer p{
  color:rgb(55, 1, 1);
  display:inline;
  justify-content: space-between;
  padding-left: 15px;
}
.ul2{
  padding-left: 980px;
}
.ul3{
  padding-left: 900px;
  padding-top: 10px;
}

/* .slideshow{
  height:60vh;
  width: 99vw;
  
} */
/* Login pg */
.loginpg{
  background-color: rgb(242, 124, 124);
  height:100vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  padding: 20vh;
} 
.box{
  height:65vh;
  width: 25vw;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
}
.boximg{
  background-image: url("../public/cover.jpg");
  height:22vh;
  width:25vw;
  background-size: cover;
  border-radius:20px ;
}
.input{
justify-content:center;
 padding:50px;
}
.input input::placeholder{
  color: rgb(72, 35, 35);
padding-left: 10px;
}
.input input{
  border: 1px solid rgb(32, 16, 16);
  background-color: rgb(241, 193, 183);
  border-radius:10px;
  height: 50px;
  width: 20vw;
}
.input label{
  padding:10px;
}
.button{
  border: 1px solid black;
  background-color: rgb(226, 102, 77);
  border-radius:10px; 
  height:35px;
  width:65px;
  padding-left: 10px;
  margin-left: 20vh;
  }
  .signuplink{
    padding-top:30px ;
    padding-left: 90px;
    color: rgb(153, 83, 67);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  .input label{
    color: rgb(72, 35, 35);
    padding: 3px; 
  }
  .loginh1{
  text-align:center;
  padding:15px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  color:rgb(229, 215, 215);
  font-weight: bold;
  padding-top: 80px;
 }
 .signupl{
  color: rgb(108, 36, 217);
 }
 /* signup pg  */
 .signupbox{
  background-color: rgb(242, 124, 124);
  height:100vh;
  width: 99vw;
  display: flex;
  justify-content: center;
  padding: 20vh;
 }
.signupform{
  height:65vh;
  width: 25vw;
  background-color: antiquewhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  padding: 7vh;
  }
  .signupform input::placeholder{
    color: rgb(72, 35, 35);
  padding-left: 5px;
  }
  .signupform label{
    color: rgb(72, 35, 35);
    padding: 3px;
  }
  .signupform input{
    border: 1px solid rgb(32, 16, 16);
    background-color: rgb(241, 193, 183);
    border-radius:10px;
    height: 40px;
    width: 15vw;
  }
  .signupbutton{
  border: 1px solid black;
  background-color: rgb(226, 102, 77);
  border-radius:10px; 
  height:35px;
  width:65px;
  padding-left: 6px;
  margin-left: 10vh;
  margin-top: 3vh;
  }
.verify{
padding-left: 3px;
border: 1px solid black;
background-color: rgb(226, 102, 77);
  border-radius:10px; 
  height:25px;
  width:50px;
  margin-left: 5px;
  margin-top: 8px;
}
.loginlink{
  padding-top:15px ;
    padding-left: 10px;
    color: rgb(153, 83, 67);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.loginl{
  color: rgb(108, 36, 217);
}